.easy-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.easy-container header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy-container .configuration-group{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy-container .configuration-group label{
    color: rgb(73, 73, 73);
    margin-right: 10px;
    font-size: 18;
}

.easy-container .configuration-group input{
    padding: 5px 10px;
    margin-right: 40px;
}

.easy-container h1{

}

.easy-container button{
    margin: 24px auto 0 auto;
    border: rgb(52, 72, 187) 2px solid;
    background: rgb(52, 115, 187);
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    display: block;
}

.easy-container button:hover{
    opacity: 0.8;
}

.easy-container .words{
    max-width: 80%;
    margin: 24px auto auto;
    text-align: center;
}
.easy-container .words span{
    margin: 0 10px;
    font-size: 24px;
    line-height: 28px;
    cursor: default;
    display: inline-block;
}

.easy-container .words span.finded{
    text-decoration: line-through;
}

.easy-container .word-board{
    width: 100%;
    margin-top: 24px;
}

.easy-container  .word-board ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy-container  .word-board ul li{
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.easy-container  .word-board ul li.selected{
    background: rgb(122, 122, 122);
    color: #fff;
}

.easy-container  .word-board ul li.selected:hover{
    background: rgb(122, 122, 122);
    color: #fff;
}

.easy-container  .word-board ul li:hover{
    background: #ccc;
}


